<li class="drink-item-container">
  <img src="{{picture}}" class="drink-item-picture">
  <h1 class="drink-item name-text">{{name}}</h1>
  <p class="drink-item description-text">{{description}}</p>
  <h2 class="drink-text">Ingredients</h2>
  <h3 class="drink-item contents-text">{{contents}}</h3>
  <span class="drink-item abv-text">{{abv}} abv</span>
  <span class="drink-item price-text">$ {{price}} / barrel</span>
  <button class="add-to-cart-button">Add to cart</button>
</li>
