<li class="drink-item">
  <img src="{{picture}}" class="drink-item-picture">
  <h3 class="drink-item name">{{name}}</h3>
  <h3 class="drink-item contents">{{contents}}</h3>
  <p class="drink-item description">{{description}}</p>
  <span class="drink-item abv">{{abv}}</span>
  <span class="drink-item price">{{price}}</span>
</li>
