<div class="cartbox">
  {{log this}}
  <i class="fa fa-shopping-cart"></i>
  <span class="item-number-text">{{this.item.length}}</span>
  <i class="fa fa-sort"></i>
  <button class="drop-footer"></button>
</div>
<div class="shopping-cart-item-box">
    {{#each item}}
      <div class="cart-item">
        <span class="cart-name">{{attributes.name}}</span>
        <span class="cart-price">$ {{attributes.price}}</span>
      </div>
    {{/each}}
    <div class="subtotal-box">
      <span class="subtotal-text">Subtotal:</span>
      <span class="cart-subtotal">$ {{subtotal}}</span>
    </div>
</div>
